<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ onyx_data.title }}</title>
    <link rel="stylesheet" href="/app_assets/style.css" />
    {{#each assets}}
   <script src="/app_assets/{{this}}"></script>
  {{/each}}
</head>

<body>
    <div class="container">
        <aside>
            <h2>Sidebar</h2>
            <nav>
                <ul>
                    <li><a href="/main">Main</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/services">Services</a></li>
                    <li><a href="/portfolio">Portfolio</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/signup">Sign Up</a></li>
                </ul>
            </nav>
        </aside>

        <div class="content">
            <header>
                <repo-table></repo-table>
                <h1>
                    {{ onyx_data.title }}
                </h1>
                <a href="/be">BEEE</a>
                <ol class="breadcrumb">
                    {{#each onyx_data.parents}}
                      <li class="breadcrumb-item">
                        <a href="/{{onyx_data.url}}">{{onyx_data.title}}</a>
                      </li>
                    {{/each}}
                  </ol>
            </header>
            <main>
                {{#if root}}
                <h1>ROOT PAGE</h1>
                {{/if}}
                <div class="iframe-wrapper">
                    {{{ onyx_data.raw }}}
                </div>
            </main>
        </div>
    </div>
</body>

</html>